/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
   .modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('../ajax-loader.gif') 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading .modal {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}

.danger{
   background-color: #e61313c9;
   color: white;
   text-align: center;
   padding: 20px;
   border-radius: 10px;
}
.alert{
   background-color: #09a13ce7;
   color: white;
   text-align: center;
   padding: 20px;
   border-radius: 10px;
}

.modal--show {
    opacity: 1;
    z-index: 1004;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.layer {
    position: fixed;
    width: 100vw;
    bottom: 0;
    top: 0;
    z-index: -1;
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
    background: rgba(0,0,0,0.4);
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}
.modal-box h4 {
    font-size: 24px;
    color: #295093;
}
.telegram-join a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
}
.telegram-join {
    padding: 10px;
    background: -webkit-gradient(linear, left top, right top, color-stop(15.07%, #1E96C8), color-stop(85.96%, #37AEE2));
    background: linear-gradient(90deg, #1E96C8 15.07%, #37AEE2 85.96%);
    border-radius: 5px;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}
.hide-modal-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #BABFC2;
}
.modal-box {
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 40px;
    background: #fff;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 60%;
}

.modal--show{opacity:1;z-index:1004;-webkit-transform:scale(1);transform:scale(1)}